<!DOCTYPE html>
<html>
<head>
    <link href="Estilosprueba.css" rel="stylesheet" />
    <title>
        Razas de Perros
    </title>
</head>
<body>
    <header>
        <h1><a href="~/Home/">Razas de Perros</a></h1>
    </header>
    <main class="main">
        <h2>Administrador</h2>

        <section class="lista">
            <a class="mark" href="Agregar.html">
                <h1>Nueva Raza...</h1>
                <div class="botones">
                    <img src="imgs/add.png" />
                </div>
            </a>


            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>
            <div class="card">
                <h1>Chihuaha</h1>

                <div class="botones">
                    <a href="Editar.html" class="btnEditar">

                    </a>
                    <a href="Eliminar.html" class="btnBorrar">

                    </a>
                </div>
            </div>


        </section>
    </main>
    <footer>
        Razas de Perros - Ejercicio de Programación Web
    </footer>
</body>
</html>
