@model IEnumerable<ProyectoRazasPerrosU3.Models.Razas>
@{
    Layout = "_Layout";
}
<h2>Administrador</h2>

<section class="lista">
    <a class="mark" href="~/Admin/Home/Agregar">
        <h1>Nueva Raza...</h1>
        <div class="botones">
            <img src="imgs/add.png" />
        </div>
    </a>
    @foreach (var item in Model)
    {
        <div class="card">
            <h1>@item.Nombre</h1>

            <div class="botones">
                <a href="~/Admin/Home/Editar" class="btnEditar">

                </a>
                <a href="~/Admin/Home/Eliminar" class="btnBorrar">

                </a>
            </div>
        </div>

    }



</section>
   
