@model ProyectoRazasPerrosU3.Models.ViewModels.RazaViewModel
@{
    Layout = "_Layout";
}

<section class="nav">
    <h3>Razas por país</h3>
    <nav>
        <a href="/Home/">Listado Alfabético de Razas</a>
    </nav>
</section>

<section class="list">
    @foreach (var item in Model.Paises.OrderBy(x=>x.Nombre))
    {
        <h4>@item.Nombre</h4>
        <ul>
            @foreach (var r in item.Razas)
            {
                <li>
                    <a href="/Raza/@r.Nombre.Replace(" ","-")">
                        <img src="/imgs_perros/@(r.Id)_0.jpg" />
                        @r.Nombre
                    </a>
                </li>
            }

        </ul>
    }



</section>
